<div class="page-container">

  <h1> Create New List </h1>
  <form action="/lists" method="post">
    <%= erb :'lists/_form_fields', layout: false %>
    <div>
      <input name="commit" type="submit" value="Create List"/>
    </div>
  </form>

</div>
