<div class="container">
<h2> Login </h2>
  <form action="/sessions" method="post">
    <p><div class="form">
      <%= erb :'sessions/_form_fields'%>
    <a id="signup-swap" href="/users/new" >
      Not a user? Signup </a>
    </div></p>
  </form>
</div>
