<div>
  <div>
    <label for="interaction_date">Date</label>
    <input id="interaction_date" name="interaction[date]" type="text" value="<%=@interaction.date %>"/>
  </div>
  <div>
    <label for="interaction_method">Method of Contact</label>
    <input id="interaction_method" name="interaction[method_of_contact]" type="text" value="<%=@interaction.method_of_contact%>"/>
  </div>
  <div>
    <label for="interaction_location">Location</label>
    <input id="interaction_location" name="interaction[location]" type="text" value="<%=@interaction.location %>"/>
  </div>
  <div>
    <label for="interaction_professional_discussion">Professional Discussion Topics</label>
    <textarea name="interaction[professional_discussion]" cols="60" rows="10"></textarea>
  </div>
  <div>
    <label for="interaction_casual_discussion">Casual Discussion Topics</label>
    <textarea name="interaction[casual_discussion]" cols="60" rows="10"></textarea>
  </div>
  <div>
    <label for="interaction_notes">Notes</label>
    <textarea name="interaction[notes]" cols="60" rows="10"></textarea>
  </div>
  <div>
    <label for="interaction_follow_up">Follow Up Date</label>
    <input id="interaction_follow_up" name="interaction[follow_up]" type="text" value="<%=@interaction.follow_up %>"/>
  </div>
</div>
