<head>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
</head>
<div class="page-container">

  <h1> Record Interaction </h1>
  <form action="/interactions" method="post">
    <h2> Add Interaction </h2>
    <%= erb :'interactions/_form_fields', layout: false %>
    <div>
      <input name="commit" type="submit" value="Add Interaction"/>
    </div>
  </form>

</div>
