<h1>User</h1>
<div class="users-details">
  <ul>
    <li>id: <%= @user.id %></li>
    <li>First Name: <%= @user.first_name %></li>
    <li>Last Name: <%= @user.last_name %></li>
    <li>Email: <%= @user.email %></li>
  </ul>
</div>
