/*Navigation Bar*/
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b4b4b4;
}

ul.nav-bar li {
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

ul.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav-bar li a:hover {
    background-color: #939393;
}

/* Form */
input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: darkgray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Page Layout */

.page-container {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

#submit-button {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

li {
    list-style-type: none;
}

#homepage-login {
    display: none;
}

#login-swap:hover, #signup-swap:hover {
    color: black;
}

h2, h1 {
    font-size: 42px;
    font-family: "Roboto Slab", serif;
    color: darkgray;
}
