<div>
    <label for="user_first_name">First Name</label>
    <input id="user_first_name" name="user[first_name]" type="text" value="<%=@user.first_name %>"/>
  </div>
  <div>
    <label for="user_last_name">Last Name</label>
    <input id="user_last_name" name="user[last_name]" type="text" value="<%=@user.last_name %>"/>
  </div>
  <div>
    <label for="user_email">Email</label>
    <input id="user_email" name="user[email]" type="text" value="<%=@user.email %>"/>
  </div>
  <div>
    <label for="user_username">Username</label>
    <input id="user_username" name="user[username]" type="text" value="<%=@user.username %>"/>
  </div>
  <div>
    <label for="user_password_hash">Password</label>
    <input id="user_password_hash" name="user[password_hash]" type="password"/>
  </div>
</div>
