<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Volkhov">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<ul class="nav-bar">
  <li><a href="/">Home</a></li>
  <% if session.key?(:user_id) == false%>
    <li><a href="/users/new">Signup</a></li>
    <li><a href="/sessions/new">Login</a></li>
  <% end %>
  <% if session[:user_id] %>
    <li><a href="/users/<%=session[:user_id]%>">My Account</a></li>
    <li><a href="/lists">Lists</a></li>
    <li><a href="/logout">Logout</a></li>
  <% end %>
</ul>
  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <%= yield %>
  <footer>

  </footer>
</body>
</html>
